<h1>–û–≥–ª–∞–≤–ª–µ–Ω–∏–µ<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#–û–ø–∏—Å–∞–Ω–∏–µ-–ø—Ä–æ–µ–∫—Ç–∞" data-toc-modified-id="–û–ø–∏—Å–∞–Ω–∏–µ-–ø—Ä–æ–µ–∫—Ç–∞-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>–û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞</a></span></li><li><span><a href="#–û–ø–∏—Å–∞–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–û–ø–∏—Å–∞–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>–û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–ó–∞–≥—Ä—É–∑–∫–∞-–∏-–æ–±–∑–æ—Ä-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ó–∞–≥—Ä—É–∑–∫–∞-–∏-–æ–±–∑–æ—Ä-–¥–∞–Ω–Ω—ã—Ö-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>–ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞-–¥–∞–Ω–Ω—ã—Ö-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>–ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö</a></span></li></ul></div>

**–ü–ª–∞–Ω –¥–∏–±–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞, –∫–æ—Ç–æ—Ä—ã–π –Ω–∞—Ö—É–π –Ω–∏–∫–æ–º—É –Ω–µ —Å–¥–∞–ª—Å—è**

- üü† –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞
- üü† –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
- üü† –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö
- ‚ö´ –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞
- ‚ö´ –ê–Ω–∞–ª–∏–∑
- ‚ö´ –í—ã–≤–æ–¥—ã

## –û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞

**–û–ø–∏—Å–∞–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞**:  
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ –∏–∑—É—á–∏—Ç—å –≤–ª–∏—è–Ω–∏–µ –ø–æ–≥–æ–¥—ã –Ω–∞ —Å—Ç–æ–ª–∫–Ω–æ–≤–µ–Ω–∏—è –ø—Ç–∏—Ü —Å —Å–∞–º–æ–ª–µ—Ç–∞–º–∏. –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –¥–ª—è –ø—Ä–æ–≤–µ–¥–µ–Ω–∏—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –∏ –≤—ã—è–≤–∏—Ç—å –∑–∞–∫–æ–Ω–æ–º–µ—Ä–Ω–æ—Å—Ç–∏ –≤ –¥–∞–Ω–Ω—ã—Ö. –ù–∞ –æ—Å–Ω–æ–≤–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è –±—É–¥–µ—Ç –ø–æ—Å—Ç—Ä–æ–µ–Ω–∞ –º–æ–¥–µ–ª—å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Å—Ç–æ–ª–∫–Ω–æ–≤–µ–Ω–∏–π –ø—Ç–∏—Ü —Å —Å–∞–º–æ–ª—ë—Ç–∞–º–∏ –∫–æ–ª–ª–µ–≥–∞–º–∏ –∏–∑ DS-–Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è.

**–ó–∞–¥–∞—á–∏ –ø—Ä–æ–µ–∫—Ç–∞:** 
- –ü—Ä–æ–≤–µ—Å—Ç–∏ –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É –∏ –æ—Ç—á–∏—Å—Ç–∫—É –¥–∞–Ω–Ω—ã—Ö
- –ü—Ä–æ–≤–µ—Å—Ç–∏ EDA-–∞–Ω–∞–ª–∏–∑

**–†–∞–±–æ—á–∏–µ —Ñ–∞–π–ª—ã**:  
- [data_DE_strikes_and_weather.csv](data_DE_strikes_and_weather.csv) - –¥–∞—Å–µ—Ç —Å–æ —Å—Ç—Ä–∞–π–∫–∞–º–∏ –∏ –ø–æ–≥–æ–¥–æ–π (–ø—Ä–∏–ª–æ–∂–µ–Ω –∫ –ø—Ä–æ–µ–∫—Ç—É)
- [flights_data_DE.csv](flights_data_DE.csv) - –¥–∞—Ç–∞—Å–µ—Ç —Å —Ä–µ–π—Å–∞–º–∏ –¥–ª—è —Ç–æ–ø-10 –∞—ç—Ä–æ–ø–æ—Ä—Ç–æ–≤ –ø–æ —á–∏—Å–ª—É —Å—Ç–æ–ª–∫–Ω–æ–≤–µ–Ω–∏–π (–ø—Ä–∏–ª–æ–∂–µ–Ω –∫ –ø—Ä–æ–µ–∫—Ç—É)

**–ú–µ—Ç–æ–¥—ã**:  
- –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö
- –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–π –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

**–°—Ä–µ–¥–∞**: 
- Jupyter Notebook 6.5.4
- Anaconda 2.4.2

**–û–∫—Ä—É–∂–µ–Ω–∏–µ:**
- Python 3.11.4
- Pandas 1.5.3
- NumPy 1.24.3
- Matplotlib 3.7.1
- Seaborn 0.12.2  

<details>
  <summary>‚ñ∂ –ü–æ–ª–Ω–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ –æ–∫—Ä—É–∂–µ–Ω–∏—è (–Ω–∞–∂–∞—Ç—å) </summary>

      name: base
    channels:
      - defaults
    dependencies:
      - _anaconda_depends=2023.07=py311_1
      - abseil-cpp=20211102.0=hd77b12b_0
      - aiobotocore=2.4.2=py311haa95532_0
      - aiofiles=22.1.0=py311haa95532_0
      - aiohttp=3.8.3=py311h2bbff1b_0
      - aioitertools=0.7.1=pyhd3eb1b0_0
      - aiosignal=1.2.0=pyhd3eb1b0_0
      - aiosqlite=0.18.0=py311haa95532_0
      - alabaster=0.7.12=pyhd3eb1b0_0
      - anaconda-catalogs=0.2.0=py311haa95532_0
      - anaconda-client=1.12.0=py311haa95532_0
      - anaconda-navigator=2.4.2=py311haa95532_0
      - anaconda-project=0.11.1=py311haa95532_0
      - anyio=3.5.0=py311haa95532_0
      - appdirs=1.4.4=pyhd3eb1b0_0
      - argon2-cffi=21.3.0=pyhd3eb1b0_0
      - argon2-cffi-bindings=21.2.0=py311h2bbff1b_0
      - arrow=1.2.3=py311haa95532_1
      - arrow-cpp=11.0.0=py311h308b814_0
      - astroid=2.14.2=py311haa95532_0
      - astropy=5.1=py311h5bb9823_0
      - asttokens=2.0.5=pyhd3eb1b0_0
      - async-timeout=4.0.2=py311haa95532_0
      - atomicwrites=1.4.0=py_0
      - attrs=22.1.0=py311haa95532_0
      - automat=20.2.0=py_0
      - autopep8=1.6.0=pyhd3eb1b0_1
      - aws-c-common=0.4.57=ha925a31_1
      - aws-c-event-stream=0.1.6=hd77b12b_5
      - aws-checksums=0.1.9=ha925a31_0
      - aws-sdk-cpp=1.8.185=hd77b12b_0
      - babel=2.11.0=py311haa95532_0
      - backcall=0.2.0=pyhd3eb1b0_0
      - backports=1.1=pyhd3eb1b0_0
      - backports.functools_lru_cache=1.6.4=pyhd3eb1b0_0
      - backports.tempfile=1.0=pyhd3eb1b0_1
      - backports.weakref=1.0.post1=py_1
      - bcrypt=3.2.0=py311h2bbff1b_1
      - beautifulsoup4=4.12.2=py311haa95532_0
      - binaryornot=0.4.4=pyhd3eb1b0_1
      - black=23.3.0=py311haa95532_0
      - blas=1.0=mkl
      - bleach=4.1.0=pyhd3eb1b0_0
      - blosc=1.21.3=h6c2663c_0
      - bokeh=3.2.1=py311h746a85d_0
      - boltons=23.0.0=py311haa95532_0
      - boost-cpp=1.73.0=h2bbff1b_12
      - boto3=1.24.28=py311haa95532_0
      - botocore=1.27.59=py311haa95532_0
      - bottleneck=1.3.5=py311h5bb9823_0
      - brotli=1.0.9=h2bbff1b_7
      - brotli-bin=1.0.9=h2bbff1b_7
      - brotlipy=0.7.0=py311h2bbff1b_1002
      - bzip2=1.0.8=he774522_0
      - c-ares=1.19.0=h2bbff1b_0
      - c-blosc2=2.8.0=hd77b12b_0
      - ca-certificates=2023.05.30=haa95532_0
      - certifi=2023.7.22=py311haa95532_0
      - cffi=1.15.1=py311h2bbff1b_3
      - cfitsio=3.470=h2bbff1b_7
      - chardet=4.0.0=py311haa95532_1003
      - charls=2.2.0=h6c2663c_0
      - charset-normalizer=2.0.4=pyhd3eb1b0_0
      - click=8.0.4=py311haa95532_0
      - cloudpickle=2.2.1=py311haa95532_0
      - clyent=1.2.2=py311haa95532_1
      - colorama=0.4.6=py311haa95532_0
      - colorcet=3.0.1=py311haa95532_0
      - comm=0.1.2=py311haa95532_0
      - conda=23.7.2=py311haa95532_0
      - conda-build=3.26.0=py311haa95532_0
      - conda-content-trust=0.1.1=pyhd3eb1b0_0
      - conda-index=0.2.3=py311haa95532_0
      - conda-libmamba-solver=23.5.0=py311haa95532_0
      - conda-pack=0.6.0=pyhd3eb1b0_0
      - conda-package-handling=2.2.0=py311haa95532_0
      - conda-package-streaming=0.9.0=py311haa95532_0
      - conda-repo-cli=1.0.41=py311haa95532_0
      - conda-token=0.4.0=pyhd3eb1b0_0
      - conda-verify=3.4.2=py_1
      - console_shortcut=0.1.1=4
      - constantly=15.1.0=py311haa95532_0
      - contourpy=1.0.5=py311h59b6b97_0
      - cookiecutter=1.7.3=pyhd3eb1b0_0
      - cryptography=41.0.2=py311h31511bf_0
      - cssselect=1.1.0=pyhd3eb1b0_0
      - curl=8.1.1=he2ea4bf_2
      - cycler=0.11.0=pyhd3eb1b0_0
      - cytoolz=0.12.0=py311h2bbff1b_0
      - daal4py=2023.1.1=py311h30df693_0
      - dal=2023.1.1=h59b6b97_48681
      - dask=2023.6.0=py311haa95532_0
      - dask-core=2023.6.0=py311haa95532_0
      - datashader=0.15.1=py311haa95532_0
      - datashape=0.5.4=py311haa95532_1
      - debugpy=1.6.7=py311hd77b12b_0
      - decorator=5.1.1=pyhd3eb1b0_0
      - defusedxml=0.7.1=pyhd3eb1b0_0
      - diff-match-patch=20200713=pyhd3eb1b0_0
      - dill=0.3.6=py311haa95532_0
      - distributed=2023.6.0=py311haa95532_0
      - docstring-to-markdown=0.11=py311haa95532_0
      - docutils=0.18.1=py311haa95532_3
      - entrypoints=0.4=py311haa95532_0
      - et_xmlfile=1.1.0=py311haa95532_0
      - executing=0.8.3=pyhd3eb1b0_0
      - filelock=3.9.0=py311haa95532_0
      - flake8=6.0.0=py311haa95532_0
      - flask=2.2.2=py311haa95532_0
      - fmt=9.1.0=h6d14046_0
      - fonttools=4.25.0=pyhd3eb1b0_0
      - freetype=2.12.1=ha860e81_0
      - frozenlist=1.3.3=py311h2bbff1b_0
      - fsspec=2023.3.0=py311haa95532_0
      - future=0.18.3=py311haa95532_0
      - gensim=4.3.0=py311heda8569_0
      - gflags=2.2.2=ha925a31_0
      - giflib=5.2.1=h8cc25b3_3
      - glib=2.69.1=h5dc1a3c_2
      - glob2=0.7=pyhd3eb1b0_0
      - glog=0.5.0=hd77b12b_0
      - greenlet=2.0.1=py311hd77b12b_0
      - gst-plugins-base=1.18.5=h9e645db_0
      - gstreamer=1.18.5=hd78058f_0
      - h5py=3.7.0=py311h259cc0e_0
      - hdf5=1.10.6=h1756f20_1
      - heapdict=1.0.1=pyhd3eb1b0_0
      - holoviews=1.17.0=py311haa95532_0
      - hvplot=0.8.4=py311haa95532_0
      - hyperlink=21.0.0=pyhd3eb1b0_0
      - icc_rt=2022.1.0=h6049295_2
      - icu=58.2=ha925a31_3
      - idna=3.4=py311haa95532_0
      - imagecodecs=2021.8.26=py311h94f204c_2
      - imageio=2.26.0=py311haa95532_0
      - imagesize=1.4.1=py311haa95532_0
      - imbalanced-learn=0.10.1=py311haa95532_1
      - importlib-metadata=6.0.0=py311haa95532_0
      - importlib_metadata=6.0.0=hd3eb1b0_0
      - incremental=21.3.0=pyhd3eb1b0_0
      - inflection=0.5.1=py311haa95532_0
      - iniconfig=1.1.1=pyhd3eb1b0_0
      - intake=0.6.8=py311haa95532_0
      - intel-openmp=2023.1.0=h59b6b97_46319
      - intervaltree=3.1.0=pyhd3eb1b0_0
      - ipykernel=6.19.2=py311h86cfffd_0
      - ipython=8.12.0=py311haa95532_0
      - ipython_genutils=0.2.0=pyhd3eb1b0_1
      - ipywidgets=8.0.4=py311haa95532_0
      - isort=5.9.3=pyhd3eb1b0_0
      - itemadapter=0.3.0=pyhd3eb1b0_0
      - itemloaders=1.0.4=pyhd3eb1b0_1
      - itsdangerous=2.0.1=pyhd3eb1b0_0
      - jaraco.classes=3.2.1=pyhd3eb1b0_0
      - jedi=0.18.1=py311haa95532_1
      - jellyfish=0.9.0=py311h2bbff1b_0
      - jinja2=3.1.2=py311haa95532_0
      - jinja2-time=0.2.0=pyhd3eb1b0_3
      - jmespath=0.10.0=pyhd3eb1b0_0
      - jpeg=9e=h2bbff1b_1
      - jq=1.6=haa95532_1
      - json5=0.9.6=pyhd3eb1b0_0
      - jsonpatch=1.32=pyhd3eb1b0_0
      - jsonpointer=2.1=pyhd3eb1b0_0
      - jsonschema=4.17.3=py311haa95532_0
      - jupyter=1.0.0=py311haa95532_8
      - jupyter_client=7.4.9=py311haa95532_0
      - jupyter_console=6.6.3=py311haa95532_0
      - jupyter_core=5.3.0=py311haa95532_0
      - jupyter_events=0.6.3=py311haa95532_0
      - jupyter_server=1.23.4=py311haa95532_0
      - jupyter_server_fileid=0.9.0=py311haa95532_0
      - jupyter_server_ydoc=0.8.0=py311haa95532_1
      - jupyter_ydoc=0.2.4=py311haa95532_0
      - jupyterlab=3.6.3=py311haa95532_0
      - jupyterlab_pygments=0.1.2=py_0
      - jupyterlab_server=2.22.0=py311haa95532_0
      - jupyterlab_widgets=3.0.5=py311haa95532_0
      - jxrlib=1.1=he774522_2
      - keyring=23.13.1=py311haa95532_0
      - kiwisolver=1.4.4=py311hd77b12b_0
      - krb5=1.19.4=h5b6d351_0
      - lazy-object-proxy=1.6.0=py311h2bbff1b_0
      - lazy_loader=0.2=py311haa95532_0
      - lcms2=2.12=h83e58a3_0
      - lerc=3.0=hd77b12b_0
      - libaec=1.0.4=h33f27b4_1
      - libarchive=3.6.2=h2033e3e_1
      - libboost=1.73.0=h6c2663c_12
      - libbrotlicommon=1.0.9=h2bbff1b_7
      - libbrotlidec=1.0.9=h2bbff1b_7
      - libbrotlienc=1.0.9=h2bbff1b_7
      - libclang=14.0.6=default_hb5a9fac_1
      - libclang13=14.0.6=default_h8e68704_1
      - libcurl=8.1.1=h86230a5_2
      - libdeflate=1.17=h2bbff1b_0
      - libevent=2.1.12=hcc03200_0
      - libffi=3.4.4=hd77b12b_0
      - libiconv=1.16=h2bbff1b_2
      - liblief=0.12.3=hd77b12b_0
      - libllvm14=14.0.6=h4157e71_3
      - libmamba=1.4.1=h214f63a_0
      - libmambapy=1.4.1=py311h214f63a_0
      - libogg=1.3.5=h2bbff1b_1
      - libpng=1.6.39=h8cc25b3_0
      - libprotobuf=3.20.3=h23ce68f_0
      - libsodium=1.0.18=h62dcd97_0
      - libsolv=0.7.22=h23ce68f_0
      - libspatialindex=1.9.3=h6c2663c_0
      - libssh2=1.10.0=hcd4344a_2
      - libthrift=0.15.0=he49ee6e_2
      - libtiff=4.5.0=h6c2663c_2
      - libvorbis=1.3.7=he774522_0
      - libwebp=1.2.4=hbc33d0d_1
      - libwebp-base=1.2.4=h2bbff1b_1
      - libxml2=2.10.3=h0ad7f3c_0
      - libxslt=1.1.37=h2bbff1b_0
      - libzopfli=1.0.3=ha925a31_0
      - linkify-it-py=2.0.0=py311haa95532_0
      - llvmlite=0.40.0=py311hf2fb9eb_0
      - locket=1.0.0=py311haa95532_0
      - lxml=4.9.2=py311h2bbff1b_0
      - lz4=4.3.2=py311h2bbff1b_0
      - lz4-c=1.9.4=h2bbff1b_0
      - lzo=2.10=he774522_2
      - m2-msys2-runtime=2.5.0.17080.65c939c=3
      - m2-patch=2.7.5=2
      - m2w64-libwinpthread-git=5.0.0.4634.697f757=2
      - markdown=3.4.1=py311haa95532_0
      - markdown-it-py=2.2.0=py311haa95532_1
      - markupsafe=2.1.1=py311h2bbff1b_0
      - matplotlib=3.7.1=py311haa95532_1
      - matplotlib-base=3.7.1=py311hf62ec03_1
      - matplotlib-inline=0.1.6=py311haa95532_0
      - mccabe=0.7.0=pyhd3eb1b0_0
      - mdit-py-plugins=0.3.0=py311haa95532_0
      - mdurl=0.1.0=py311haa95532_0
      - menuinst=1.4.19=py311h59b6b97_1
      - mistune=0.8.4=py311h2bbff1b_1000
      - mkl=2023.1.0=h8bd8f75_46356
      - mkl-service=2.4.0=py311h2bbff1b_1
      - mkl_fft=1.3.6=py311hf62ec03_1
      - mkl_random=1.2.2=py311hf62ec03_1
      - more-itertools=8.12.0=pyhd3eb1b0_0
      - mpmath=1.3.0=py311haa95532_0
      - msgpack-python=1.0.3=py311h59b6b97_0
      - msys2-conda-epoch=20160418=1
      - multidict=6.0.2=py311h2bbff1b_0
      - multipledispatch=0.6.0=py311haa95532_0
      - munkres=1.1.4=py_0
      - mypy_extensions=0.4.3=py311haa95532_1
      - navigator-updater=0.4.0=py311haa95532_0
      - nbclassic=0.5.5=py311haa95532_0
      - nbclient=0.5.13=py311haa95532_0
      - nbconvert=6.5.4=py311haa95532_0
      - nbformat=5.7.0=py311haa95532_0
      - nest-asyncio=1.5.6=py311haa95532_0
      - networkx=3.1=py311haa95532_0
      - nltk=3.8.1=py311haa95532_0
      - notebook=6.5.4=py311haa95532_1
      - notebook-shim=0.2.2=py311haa95532_0
      - numba=0.57.0=py311hf62ec03_0
      - numexpr=2.8.4=py311h1fcbade_1
      - numpy=1.24.3=py311hdab7c0b_1
      - numpy-base=1.24.3=py311hd01c5d8_1
      - numpydoc=1.5.0=py311haa95532_0
      - openjpeg=2.4.0=h4fc8c34_0
      - openpyxl=3.0.10=py311h2bbff1b_0
      - openssl=1.1.1u=h2bbff1b_0
      - orc=1.7.4=h623e30f_1
      - packaging=23.0=py311haa95532_0
      - pandas=1.5.3=py311heda8569_0
      - pandocfilters=1.5.0=pyhd3eb1b0_0
      - panel=1.2.1=py311haa95532_0
      - param=1.13.0=py311haa95532_0
      - paramiko=2.8.1=pyhd3eb1b0_0
      - parsel=1.6.0=py311haa95532_0
      - parso=0.8.3=pyhd3eb1b0_0
      - partd=1.2.0=pyhd3eb1b0_1
      - pathlib=1.0.1=pyhd3eb1b0_1
      - pathspec=0.10.3=py311haa95532_0
      - patsy=0.5.3=py311haa95532_0
      - pcre=8.45=hd77b12b_0
      - pcre2=10.37=h0ff8eda_1
      - pep8=1.7.1=py311haa95532_1
      - pexpect=4.8.0=pyhd3eb1b0_3
      - pickleshare=0.7.5=pyhd3eb1b0_1003
      - pillow=9.4.0=py311hd77b12b_0
      - pip=23.2.1=py311haa95532_0
      - pkginfo=1.9.6=py311haa95532_0
      - platformdirs=2.5.2=py311haa95532_0
      - plotly=5.9.0=py311haa95532_0
      - pluggy=1.0.0=py311haa95532_1
      - ply=3.11=py311haa95532_0
      - pooch=1.4.0=pyhd3eb1b0_0
      - powershell_shortcut=0.0.1=3
      - poyo=0.5.0=pyhd3eb1b0_0
      - prometheus_client=0.14.1=py311haa95532_0
      - prompt-toolkit=3.0.36=py311haa95532_0
      - prompt_toolkit=3.0.36=hd3eb1b0_0
      - protego=0.1.16=py_0
      - psutil=5.9.0=py311h2bbff1b_0
      - ptyprocess=0.7.0=pyhd3eb1b0_2
      - pure_eval=0.2.2=pyhd3eb1b0_0
      - py-cpuinfo=8.0.0=pyhd3eb1b0_1
      - py-lief=0.12.3=py311hd77b12b_0
      - pyarrow=11.0.0=py311h8a3a540_0
      - pyasn1=0.4.8=pyhd3eb1b0_0
      - pyasn1-modules=0.2.8=py_0
      - pybind11-abi=4=hd3eb1b0_1
      - pycodestyle=2.10.0=py311haa95532_0
      - pycosat=0.6.4=py311h2bbff1b_0
      - pycparser=2.21=pyhd3eb1b0_0
      - pyct=0.5.0=py311haa95532_0
      - pycurl=7.45.2=py311hcd4344a_0
      - pydispatcher=2.0.5=py311haa95532_2
      - pydocstyle=6.3.0=py311haa95532_0
      - pyerfa=2.0.0=py311h2bbff1b_0
      - pyflakes=3.0.1=py311haa95532_0
      - pygments=2.15.1=py311haa95532_1
      - pyjwt=2.4.0=py311haa95532_0
      - pylint=2.16.2=py311haa95532_0
      - pylint-venv=2.3.0=py311haa95532_0
      - pyls-spyder=0.4.0=pyhd3eb1b0_0
      - pynacl=1.5.0=py311h8cc25b3_0
      - pyodbc=4.0.34=py311hd77b12b_0
      - pyopenssl=23.2.0=py311haa95532_0
      - pyparsing=3.0.9=py311haa95532_0
      - pyqt=5.15.7=py311hd77b12b_0
      - pyqt5-sip=12.11.0=py311hd77b12b_0
      - pyqtwebengine=5.15.7=py311hd77b12b_0
      - pyrsistent=0.18.0=py311h2bbff1b_0
      - pysocks=1.7.1=py311haa95532_0
      - pytables=3.8.0=py311ha4dc190_2
      - pytest=7.4.0=py311haa95532_0
      - python=3.11.4=h966fe2a_0
      - python-dateutil=2.8.2=pyhd3eb1b0_0
      - python-fastjsonschema=2.16.2=py311haa95532_0
      - python-json-logger=2.0.7=py311haa95532_0
      - python-libarchive-c=2.9=pyhd3eb1b0_1
      - python-lmdb=1.4.1=py311hd77b12b_0
      - python-lsp-black=1.2.1=py311haa95532_0
      - python-lsp-jsonrpc=1.0.0=pyhd3eb1b0_0
      - python-lsp-server=1.7.2=py311haa95532_0
      - python-slugify=5.0.2=pyhd3eb1b0_0
      - python-snappy=0.6.1=py311hd77b12b_0
      - pytoolconfig=1.2.5=py311haa95532_1
      - pytz=2022.7=py311haa95532_0
      - pyviz_comms=2.3.0=py311haa95532_0
      - pywavelets=1.4.1=py311h2bbff1b_0
      - pywin32=305=py311h2bbff1b_0
      - pywin32-ctypes=0.2.0=py311haa95532_1000
      - pywinpty=2.0.10=py311h5da7b33_0
      - pyyaml=6.0=py311h2bbff1b_1
      - pyzmq=23.2.0=py311hd77b12b_0
      - qdarkstyle=3.0.2=pyhd3eb1b0_0
      - qstylizer=0.2.2=py311haa95532_0
      - qt-main=5.15.2=he8e5bd7_8
      - qt-webengine=5.15.9=hb9a9bb5_5
      - qtawesome=1.2.2=py311haa95532_0
      - qtconsole=5.4.2=py311haa95532_0
      - qtpy=2.2.0=py311haa95532_0
      - qtwebkit=5.212=h2bbfb41_5
      - queuelib=1.5.0=py311haa95532_0
      - re2=2022.04.01=hd77b12b_0
      - regex=2022.7.9=py311h2bbff1b_0
      - reproc=14.2.4=hd77b12b_1
      - reproc-cpp=14.2.4=hd77b12b_1
      - requests=2.31.0=py311haa95532_0
      - requests-file=1.5.1=pyhd3eb1b0_0
      - requests-toolbelt=1.0.0=py311haa95532_0
      - rfc3339-validator=0.1.4=py311haa95532_0
      - rfc3986-validator=0.1.1=py311haa95532_0
      - rope=1.7.0=py311haa95532_0
      - rtree=1.0.1=py311h2eaa2aa_0
      - ruamel.yaml=0.17.21=py311h2bbff1b_0
      - ruamel_yaml=0.17.21=py311h2bbff1b_0
      - s3fs=2023.3.0=py311haa95532_0
      - s3transfer=0.6.0=py311haa95532_0
      - sacremoses=0.0.43=pyhd3eb1b0_0
      - scikit-image=0.20.0=py311h3513d60_0
      - scikit-learn=1.3.0=py311hf62ec03_0
      - scikit-learn-intelex=2023.1.1=py311haa95532_0
      - scipy=1.10.1=py311hc1ccb85_1
      - scrapy=2.8.0=py311haa95532_0
      - seaborn=0.12.2=py311haa95532_0
      - send2trash=1.8.0=pyhd3eb1b0_1
      - service_identity=18.1.0=pyhd3eb1b0_1
      - setuptools=68.0.0=py311haa95532_0
      - sip=6.6.2=py311hd77b12b_0
      - six=1.16.0=pyhd3eb1b0_1
      - smart_open=5.2.1=py311haa95532_0
      - snappy=1.1.9=h6c2663c_0
      - sniffio=1.2.0=py311haa95532_1
      - snowballstemmer=2.2.0=pyhd3eb1b0_0
      - sortedcontainers=2.4.0=pyhd3eb1b0_0
      - soupsieve=2.4=py311haa95532_0
      - sphinx=5.0.2=py311haa95532_0
      - sphinxcontrib-applehelp=1.0.2=pyhd3eb1b0_0
      - sphinxcontrib-devhelp=1.0.2=pyhd3eb1b0_0
      - sphinxcontrib-htmlhelp=2.0.0=pyhd3eb1b0_0
      - sphinxcontrib-jsmath=1.0.1=pyhd3eb1b0_0
      - sphinxcontrib-qthelp=1.0.3=pyhd3eb1b0_0
      - sphinxcontrib-serializinghtml=1.1.5=pyhd3eb1b0_0
      - spyder=5.4.3=py311haa95532_1
      - spyder-kernels=2.4.3=py311haa95532_0
      - sqlalchemy=1.4.39=py311h2bbff1b_0
      - sqlite=3.41.2=h2bbff1b_0
      - stack_data=0.2.0=pyhd3eb1b0_0
      - statsmodels=0.14.0=py311hd7041d2_0
      - sympy=1.11.1=py311haa95532_0
      - tabulate=0.8.10=py311haa95532_0
      - tbb=2021.8.0=h59b6b97_0
      - tbb4py=2021.8.0=py311h59b6b97_0
      - tblib=1.7.0=pyhd3eb1b0_0
      - tenacity=8.2.2=py311haa95532_0
      - terminado=0.17.1=py311haa95532_0
      - text-unidecode=1.3=pyhd3eb1b0_0
      - textdistance=4.2.1=pyhd3eb1b0_0
      - threadpoolctl=2.2.0=pyh0d69192_0
      - three-merge=0.1.1=pyhd3eb1b0_0
      - tifffile=2021.7.2=pyhd3eb1b0_2
      - tinycss2=1.2.1=py311haa95532_0
      - tk=8.6.12=h2bbff1b_0
      - tldextract=3.2.0=pyhd3eb1b0_0
      - toml=0.10.2=pyhd3eb1b0_0
      - tomlkit=0.11.1=py311haa95532_0
      - toolz=0.12.0=py311haa95532_0
      - tornado=6.3.2=py311h2bbff1b_0
      - tqdm=4.65.0=py311h746a85d_0
      - traitlets=5.7.1=py311haa95532_0
      - transformers=2.1.1=pyhd3eb1b0_0
      - twisted=22.10.0=py311h2bbff1b_0
      - twisted-iocpsupport=1.0.2=py311h2bbff1b_0
      - typing-extensions=4.7.1=py311haa95532_0
      - typing_extensions=4.7.1=py311haa95532_0
      - tzdata=2023c=h04d1e81_0
      - uc-micro-py=1.0.1=py311haa95532_0
      - ujson=5.4.0=py311hd77b12b_0
      - unidecode=1.2.0=pyhd3eb1b0_0
      - urllib3=1.26.16=py311haa95532_0
      - utf8proc=2.6.1=h2bbff1b_0
      - vc=14.2=h21ff451_1
      - vs2015_runtime=14.27.29016=h5e58377_2
      - w3lib=1.21.0=pyhd3eb1b0_0
      - watchdog=2.1.6=py311haa95532_0
      - wcwidth=0.2.5=pyhd3eb1b0_0
      - webencodings=0.5.1=py311haa95532_1
      - websocket-client=0.58.0=py311haa95532_4
      - werkzeug=2.2.3=py311haa95532_0
      - whatthepatch=1.0.2=py311haa95532_0
      - wheel=0.38.4=py311haa95532_0
      - widgetsnbextension=4.0.5=py311haa95532_0
      - win_inet_pton=1.1.0=py311haa95532_0
      - winpty=0.4.3=4
      - wrapt=1.14.1=py311h2bbff1b_0
      - xarray=2023.6.0=py311haa95532_0
      - xlwings=0.29.1=py311haa95532_0
      - xyzservices=2022.9.0=py311haa95532_1
      - xz=5.4.2=h8cc25b3_0
      - y-py=0.5.9=py311hb6bf4ef_0
      - yaml=0.2.5=he774522_0
      - yaml-cpp=0.7.0=hd77b12b_1
      - yapf=0.31.0=pyhd3eb1b0_0
      - yarl=1.8.1=py311h2bbff1b_0
      - ypy-websocket=0.8.2=py311haa95532_0
      - zeromq=4.3.4=hd77b12b_0
      - zfp=0.5.5=hd77b12b_6
      - zict=2.2.0=py311haa95532_0
      - zipp=3.11.0=py311haa95532_0
      - zlib=1.2.13=h8cc25b3_0
      - zlib-ng=2.0.7=h2bbff1b_0
      - zope=1.0=py311haa95532_1
      - zope.interface=5.4.0=py311h2bbff1b_0
      - zstandard=0.19.0=py311h2bbff1b_0
      - zstd=1.5.5=hd43e919_0
      - pip:
          - annotated-types==0.5.0
          - htmlmin==0.1.12
          - imagehash==4.3.1
          - joblib==1.1.1
          - missingno==0.5.2
          - multimethod==1.10
          - pandas-profiling==3.2.0
          - phik==0.12.3
          - pydantic==2.4.0
          - pydantic-core==2.10.0
          - pydantic-settings==2.0.3
          - python-dotenv==1.0.0
          - tangled-up-in-unicode==0.2.0
          - visions==0.7.4

</details>

–§–∞–π–ª –æ–∫—Ä—É–∂–µ–Ω–∏—è [environment.yaml](environment.yaml) –ø—Ä–∏–ª–æ–∂–µ–Ω –∫ –ø—Ä–æ–µ–∫—Ç—É

## –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–î–∞—Ç–∞—Å–µ—Ç **data_DE_strikes_and_weather.csv**.

- –î–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç –ø–æ–ª—É—á–µ–Ω –æ–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ–º –¥–∞–Ω–Ω—ã—Ö –æ —Å—Ç–æ–ª–∫–Ω–æ–≤–µ–Ω–∏—è—Ö —Å –∂–∏–≤–æ—Ç–Ω—ã–º–∏ –≤–æ–∑–¥—É—à–Ω—ã—Ö —Å—É–¥–æ–≤ –æ—Ç FAA (Federal Aviation Administration) https://www.faa.gov/ –∏ –¥–∞–Ω–Ω—ã—Ö –æ –ø–æ–≥–æ–¥–µ –æ—Ç NCEI (National Centers for Environmental Information) https://www.ncei.noaa.gov/. –î–∞–Ω–Ω—ã–µ –æ –ø–æ–≥–æ–¥–µ –±—Ä–∞–ª–∏—Å—å —Å –±–ª–∏–∂–∞–π—à–µ–π –∫ –∞—ç—Ä–æ–ø–æ—Ä—Ç—É —Å—Ç–∞–Ω—Ü–∏–∏, —Ä–∞–∑–Ω–∏—Ü–∞ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç –Ω–µ –±–æ–ª–µ–µ 1 —á–∞—Å–∞. –î–∞–Ω–Ω—ã–µ –æ –ø–æ–≥–æ–¥–µ –Ω–µ –ø–æ–¥–≥—Ä—É–∂–∞–ª–∏—Å—å, –µ—Å–ª–∏ –Ω–µ —É–∫–∞–∑–∞–Ω—ã –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç—ã –∏–ª–∏ –≤—Ä–µ–º—è —Å—Ç—Ä–∞–π–∫–∞. –ó–∞–ø–∏—Å–∏ —Å—Ç—Ä–∞–π–∫–æ–≤ —Å 1/1/2018 –ø–æ 12/31/2022. –ï—Å–ª–∏ –Ω–µ —É–∫–∞–∑–∞–Ω–æ –≤—Ä–µ–º—è, 
—Ç–æ –¥–∞–Ω–Ω—ã–µ –∑–∞ 12:00

- –û–ø–∏—Å–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Å–µ—Ç–∞ **data_DE_strikes_and_weather.csv** –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–Ω–æ–º –∫ –ø—Ä–æ–µ–∫—Ç—É —Ñ–∞–π–ª–µ [fieldlist.pdf](fieldlist.pdf)


–î–∞—Ç–∞—Å–µ—Ç **flights_data_DE.csv**

- –î–∞—Ç–∞—Å–µ—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç –∏–∑ —Å–µ–±—è –¥–∞–Ω–Ω—ã–µ —Å —Ä–µ–π—Å–∞–º–∏ –¥–ª—è –ø–µ—Ä–≤—ã—Ö 10 –∞—ç—Ä–æ–ø–æ—Ä—Ç–æ–≤ –ø–æ 
–∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Å—Ç–æ–ª–∫–Ω–æ–≤–µ–Ω–∏–π. –î–∞–Ω–Ω—ã–µ –ø–æ–ª—É—á–µ–Ω—ã –æ—Ç BTS (Bureau of Transportation Statistics) https://www.bts.go

- –û–ø–∏—Å–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Å–µ—Ç–∞ **flights_data_DE.csv** –Ω–∞—Ö–æ–¥—è—Ç—Å—è –≤ –ø—Ä–∏–ª–æ–∂–µ–Ω–Ω–æ–º –∫ –ø—Ä–æ–µ–∫—Ç—É —Ñ–∞–π–ª–µ [st_data_info_NCEI.pdf](st_data_info_NCEI.pdf)


**–ö–∞–∫ —Å–æ–±–∏—Ä–∞–ª–∏—Å—å –¥–∞–Ω–Ω—ã–µ:**  
https://github.com/ipsiman/pet_air_bird_strike/

## –ó–∞–≥—Ä—É–∑–∫–∞ –∏ –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [46]:
# –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö
import pandas as pd
import numpy as np

# –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏
import matplotlib.pyplot as plt
import seaborn as sns

# –ø—Ä–æ—á–∏–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import warnings

–û—Ç–∫–ª—é—á–∏–º –ø—Ä–µ–¥—É–ø—Ä–µ–∂–¥–µ–Ω–∏—è

In [5]:
warnings.filterwarnings('ignore')

–ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ

In [6]:
df_sw = pd.read_csv('data_DE_strikes_and_weather.csv', sep=',', dtype={103: str})

–ó–∞–¥–∞–¥–∏–º —Å–æ–±—Å—Ç–≤–µ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –æ–±–∑–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö

In [7]:
# —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–±–∑–æ—Ä–∞ —Å—Ç–æ–ª–±—Ü–æ–≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

def data_info(data_import):
    
    # —Å–æ–∑–¥–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã —Å –Ω—É–∂–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –∏ —Å–∫–ª–µ–∏–≤–∞–µ–º –∏—Ö –≤ –æ–¥–∏–Ω –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
    data_info = (pd.DataFrame(data_import.dtypes,
                              columns=['–¢–∏–ø —Å—Ç–æ–ª–±—Ü–∞'])
             .join(pd.DataFrame(data_import.nunique(),
                                columns=['–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π']))
             .join(pd.DataFrame(data_import.isna().sum(),
                                columns=['–ß–∏—Å–ª–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤']))
             .join(pd.DataFrame(data_import.isna().sum()/data_import.shape[0],
                                columns=['–ü—Ä–æ—Ü–µ–Ω—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤'])))
    
    # —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏—è —Å—Ç–∏–ª–µ–π —Å –ø—Ä–æ–∑—Ä–∞—á–Ω–æ—Å—Ç—å—é
    def highlight_cells(value):
        if value == 0:
            return 'background-color: rgba(0, 255, 0, 0.3)' 
        elif value > 0 and value <= 0.05:
            return 'background-color: rgba(255, 255, 0, 0.3)'
        elif value > 0.05:
            return 'background-color: rgba(255, 0, 0, 0.3)'
        else:
            return ''

    # –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ —Å—Ç–∏–ª–µ–π —Å –ø—Ä–æ–∑—Ä–∞—á–Ω–æ—Å—Ç—å—é –∫ –∫–æ–ª–æ–Ω–∫–µ —Å –ø—Ä–æ—Ü–µ–Ω—Ç–æ–º –ø—Ä–æ–ø—É—Å–∫–æ–≤
    display(data_info.style.applymap(lambda x: highlight_cells(x), 
                                     subset=pd.IndexSlice[:, ['–ü—Ä–æ—Ü–µ–Ω—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤']]).format({'–ü—Ä–æ—Ü–µ–Ω—Ç –ø—Ä–æ–ø—É—Å–∫–æ–≤': '{:.2%}'}))
    

# —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–±–∑–æ—Ä–∞ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ –∏ –≤—ã–≤–æ–¥–∞ –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫

def data_review (data_import):
    
    # –≤—ã–≤–æ–¥–µ–º —Å–ª—É—á–∞–π–Ω—ã–µ 5 —Å—Ç—Ä–æ–∫
    print(display(data_import.sample(5)))
    
    # –≤—ã–≤–µ–¥–µ–º –æ–±—â—É—é –æ–±–∑–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ  
    display(pd.DataFrame(data=[data_import.shape[0],
                               data_import.shape[1],
                               data_import.duplicated().sum()],
                         columns=['–í—Å–µ–≥–æ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ'],
                         index=['–°—Ç—Ä–æ–∫','–°—Ç–æ–ª–±—Ü–æ–≤','–Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤'])) 
    
    # –≤—ã–≤–æ–¥–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ —Å—Ç–æ–ª–±—Ü–∞—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞
    data_info(data_import)

–î–µ–ª–∞–µ–º –æ–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

In [8]:
# —É–≤–µ–ª–∏—á–∏–≤–∞–µ–º –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤ –ø—Ä–∏ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏–∏
pd.set_option('display.max_columns', None)

# –≤—ã–≤–æ–¥–∏–º –æ–±–∑–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–∞—Ü–∏—é –ø–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É
data_review(df_sw)

,Unnamed: 0.1,INDEX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE_x,LONGITUDE_x,RUNWAY,STATE,FAAREGION,LOCATION,OPID,OPERATOR,REG,FLT,AIRCRAFT,AMA,AMO,EMA,EMO,AC_CLASS,AC_MASS,TYPE_ENG,NUM_ENGS,ENG_1_POS,ENG_2_POS,ENG_3_POS,ENG_4_POS,PHASE_OF_FLIGHT,HEIGHT,SPEED,DISTANCE,SKY,PRECIPITATION,AOS,COST_REPAIRS,COST_OTHER,COST_REPAIRS_INFL_ADJ,COST_OTHER_INFL_ADJ,INGESTED_OTHER,INDICATED_DAMAGE,DAMAGE_LEVEL,STR_RAD,DAM_RAD,STR_WINDSHLD,DAM_WINDSHLD,STR_NOSE,DAM_NOSE,STR_ENG1,DAM_ENG1,ING_ENG1,STR_ENG2,DAM_ENG2,ING_ENG2,STR_ENG3,DAM_ENG3,ING_ENG3,STR_ENG4,DAM_ENG4,ING_ENG4,STR_PROP,DAM_PROP,STR_WING_ROT,DAM_WING_ROT,STR_FUSE,DAM_FUSE,STR_LG,DAM_LG,STR_TAIL,DAM_TAIL,STR_LGHTS,DAM_LGHTS,STR_OTHER,DAM_OTHER,OTHER_SPECIFY,EFFECT,EFFECT_OTHER,BIRD_BAND_NUMBER,SPECIES_ID,SPECIES,REMARKS,REMAINS_COLLECTED,REMAINS_SENT,WARNED,NUM_SEEN,NUM_STRUCK,SIZE,ENROUTE_STATE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTED_NAME,REPORTED_TITLE,SOURCE_x,PERSON,LUPDATE,TRANSFER,Unnamed: 0,ID,STATION,DATE,SOURCE_y,LATITUDE_y,LONGITUDE_y,ELEVATION,NAME,REPORT_TYPE,CALL_SIGN,QUALITY_CONTROL,WND,CIG,VIS,TMP,DEW,SLP
26114,26114,986710,2019-07-08 00:00:00.000,7,2019,NaN,NaN,KERI,ERIE INTL ARPT-TOM RIDGE FIELD,42.082020,-80.176220,24,PA,AEA,NaN,ENY,ENVOY AIR,NaN,4108,EMB-145,332,14.0,1.0,10.0,A,3.0,D,2.0,5.0,5.0,NaN,NaN,Climb,NaN,NaN,NaN,Some Cloud,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,PART NOT REPORTED,NaN,NaN,NaN,K5114,American kestrel,Reported bird strike on departure. No damage o...,False,False,Unknown,1,1,Small,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7,Other,2020-05-19 00:00:00.000,False,7956.0,986710.0,72526014860,2019-07-08 12:00:00,4,42.08030,-80.18240,222.2,"ERIE INTERNATIONAL AIRPORT, PA US",FM-12,99999,V020,"050,1,N,0041,1","99999,9,9,N","016000,1,9,9","+0200,1","+0106,1","10158,1"
43843,43843,1108619,2021-07-07 00:00:00.000,7,2021,09:30,NaN,KCMH,JOHN GLENN COLUMBUS INTL ARPT,39.996947,-82.892161,28L,OH,AGL,NaN,UNK,UNKNOWN,NaN,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN,K5114,American kestrel,Remains found during inspection on Rwy 10R/28L...,True,False,Unknown,NaN,1,Small,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,2021-07-09 00:00:00.000,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76149,76149,1374479,2021-09-23 00:00:00.000,9,2021,08:35,Day,PHOG,KAHULUI ARPT,20.898650,-156.430460,2,HI,AWP,NaN,SWA,SOUTHWEST AIRLINES,N8320J,1097,B-737-8,148,NaN,10.0,1.0,A,4.0,D,2.0,1.0,1.0,NaN,NaN,Landing Roll,0.0,80.0,0.0,No Cloud,NaN,0.5,NaN,NaN,NaN,NaN,False,False,N,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,0.0,O22,Doves,left a dirt mark on the windshield. no2 windsh...,False,False,Unknown,1,1,Small,NaN,NaN,NaN,NaN,REDACTED,REDACTED,Multiple,Other,2023-02-21 00:00:00.000,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13259,13259,822903,2019-02-12 00:00:00.000,2,2019,15:30,Day,KSEE,GILLESPIE FIELD ARPT,32.826230,-116.972450,27L,CA,AWP,NaN,BUS,BUSINESS,N701SP,NaN,C-172,226,7.0,NaN,NaN,A,1.0,A,1.0,7.0,NaN,NaN,NaN,Approach,800.0,75.0,1.0,Overcast,NaN,NaN,NaN,NaN,NaN,NaN,False,False,N,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN,UNKBM,Unknown bird - medium,"No damage or effect to flight, other than less...",False,False,Yes,1,1,Medium,NaN,NaN,NaN,"2019-2-13-155343 , DAILY ALERT BULLETIN ...",REDACTED,REDACTED,Multiple,Air Transport Operations,2019-04-04 00:00:00.000,False,2001.0,822903.0,72290753143,2019-02-12 15:47:00,7,32.82611,-116.97250,118.0,"GILLESPIE FIELD AIRPORT, CA US",FM-15,KSEE,V020,"999,9,C,0000,5","22000,7,9,N","016093,5,N,5","+0030,C","+0000,C","99999,9"
68648,68648,1342648,2022-05-17 00:00:00.000,5,2022,15:25,Day,KDFW,DALLAS/FORT WORTH INTL ARPT,32.895950,-97.037200,17L/35R,TX,ASW,NaN,AAL,AMERICAN AIRLINES,N887NN,1707,B-737-800,148,43.0,10.0,1.0,A,4.0,D,2.0,1.0,1.0,NaN,NaN,Landing Roll,0.0,NaN,0.0,No Cloud,NaN,NaN,NaN,NaN,NaN,NaN,False,False,N,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,NaN,NaN,NaN,UNKB,Unknown bird,MOR:AAL1707 LANDED RWY 17L AND INFORMED GROUND...,True,False,Yes,1,1,NaN,NaN,NaN,NaN,*** Strike Report: 2022-05-17-165524-R1( Repor...,REDACTED,REDACTED,Multiple,Airport Operations,2022-11-16 00:00:00.000,False,5011.0,1342648.0,72259003927,2022-05-17 15:53:00,7,32.89744,-97.02196,165.7,"DAL FTW WSCMO AIRPORT, TX US",FM-15,KDFW,V030,"160,5,N,0062,5","06096,5,M,N","016093,5,N,5","+0283,5","+0178,5","10128,5"

None

                  –í—Å–µ–≥–æ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ
–°—Ç—Ä–æ–∫                        86841
–°—Ç–æ–ª–±—Ü–æ–≤                       119
–Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤                 0

–°–º–æ—Ç—Ä–∏–º –≤—Ç–æ—Ä–æ–π –¥–∞—Ç–∞—Å–µ—Ç

In [9]:
df_f = pd.read_csv('flights_data_DE.csv', sep='|')

# –≤—ã–≤–æ–¥–∏–º –æ–±–∑–æ—Ä–Ω—É—é –∏–Ω—Ñ–æ—Ä–∞—Ü–∏—é –ø–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É
data_review(df_f)

      Year Month  DOMESTIC  INTERNATIONAL  TOTAL airport    direction
5602  2018     4    9796.0          307.0  10103     SLC       Origin
2170  2003     7    8948.0          126.0   9074     MEM       Origin
2233  2008     5    8481.0          171.0   8652     MEM       Origin
4865  2003     2    2524.0            NaN   2524     SDF       Origin
1586  2020    12   15383.0         1518.0  16901     ORD  Destination

None

                  –í—Å–µ–≥–æ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ
–°—Ç—Ä–æ–∫                        11461
–°—Ç–æ–ª–±—Ü–æ–≤                         7
–Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤                 0

**–ü–ª–∞–Ω –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏:**
- –£–¥–∞–ª–∏–º –Ω–µ–∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ã–µ –∏ –Ω–µ–Ω—É–∂–Ω—ã–µ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ —Å—Ç–æ–ª–±—Ü—ã
- –ü—Ä–∏–≤–µ–¥–µ–º —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
- –û–±—Ä–∞–±–æ—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö
- –£–¥–∞–ª–∏–º —è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã

## –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

–ë–µ—Ä—É —Å—Ç–æ–ª–±—Ü—ã –∫–∞–∫–∏–µ —Å—á–∏—Ç–∞—é –Ω—É–∂–Ω—ã–º–∏. –ö–æ–º—É –Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è - —Å—Ö–æ–¥–∏—Ç–µ –Ω–∞—Ö—É–π

In [10]:
df_sw_update = df_sw[[
    # 'INDEX_NR',
                      # 'INCIDENT_DATE',
                      'INCIDENT_YEAR',
                      'INCIDENT_MONTH',
                      # 'TIME',
                      # 'TIME_OF_DAY',
                      'AIRPORT_ID',
                      # 'AIRPORT',
                      # 'PHASE_OF_FLIGHT',
                      # 'SKY',
                      # 'PRECIPITATION',
                      # 'DAMAGE_LEVEL',
                      # 'SPECIES_ID',
                      # 'SPECIES',
                      # 'QUALITY_CONTROL',
                      'WND',
                      'CIG',
                      'VIS',
                      'TMP',
                      'DEW',
                      'SLP'                      
                     ]]
data_review(df_sw_update)

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,WND,CIG,VIS,TMP,DEW,SLP
84858,2023,7,KTEB,"150,5,N,0015,5","00488,5,M,N","016093,5,N,5","+0230,5","+0200,5","99999,9"
54800,2022,2,KEVB,"100,5,N,0062,5","22000,5,9,N","016093,5,N,5","+0210,C","+0100,C","99999,9"
53843,2021,7,KCHS,NaN,NaN,NaN,NaN,NaN,NaN
2987,2018,6,KVNY,"999,9,C,0000,5","00305,5,M,N","016093,5,N,5","+0167,5","+0139,5","99999,9"
35215,2018,10,KMIA,"210,5,N,0021,5","22000,5,9,N","011265,5,N,5","+0261,5","+0261,5","10118,5"

None

                  –í—Å–µ–≥–æ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ
–°—Ç—Ä–æ–∫                        86841
–°—Ç–æ–ª–±—Ü–æ–≤                         9
–Ø–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤             32993

–û–±—Ä–∞–±–æ—Ç–∞–µ–º —Å—Ç–æ–ª–±—Ü—ã —Å –ø–æ–≥–æ–¥–æ–π

In [11]:
df_sw_update

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,WND,CIG,VIS,TMP,DEW,SLP
0,2018,1,KDFW,"150,1,N,0021,1","22000,1,9,N","016000,1,9,9","+0028,1","-0011,1","10253,1"
1,2018,1,KIAH,"300,1,N,0026,1","22000,1,9,N","016000,1,9,9","+0161,1","+0089,1","10144,1"
2,2018,1,KTEB,"260,5,N,0046,5","22000,5,9,N","016093,5,N,5","+0011,5","-0039,5","10210,5"
3,2018,1,KPGD,"020,5,N,0015,5","00061,5,W,N","001207,5,N,5","+0156,5","+0150,5","99999,9"
4,2018,1,KCLT,"320,1,N,0021,1","99999,9,9,N","016000,1,9,9","-0111,1","-0139,1","10273,1"
...,...,...,...,...,...,...,...,...,...
86836,2023,7,KMDT,"150,5,N,0021,5","22000,5,9,N","016093,5,N,5","+0289,5","+0194,5","10194,5"
86837,2023,7,KDIK,"999,9,C,0000,5","22000,5,9,N","016093,5,N,5","+0161,5","+0106,5","10088,5"
86838,2023,7,KALB,"190,5,N,0026,5","00091,5,M,N","006437,5,N,5","+0189,5","+0178,5","10183,5"
86839,2023,7,KILM,"999,9,C,0000,5","22000,5,9,N","016093,5,N,5","+0300,5","+0239,5","10205,5"
86840,2023,7,KFNL,"999,9,9,9999,9","99999,9,9,9","999999,9,9,9","+9999,9","+9999,9","99999,9"

In [12]:
df_sw_update['WND'] = df_sw_update['WND'].astype(str)
df_wnd = pd.DataFrame([x.split(',') for x in df_sw_update['WND']], columns=['WIND_direction_angle', 
                                                                            'WIND_direction_quality_code', 
                                                                            'WIND_type_code', 
                                                                            'WIND_speed_rate', 
                                                                            'WIND_speed_quality_code'])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('WND', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_wnd)

df_sw_update

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,CIG,VIS,TMP,DEW,SLP,WIND_direction_angle,WIND_direction_quality_code,WIND_type_code,WIND_speed_rate,WIND_speed_quality_code
0,2018,1,KDFW,"22000,1,9,N","016000,1,9,9","+0028,1","-0011,1","10253,1",150,1,N,0021,1
1,2018,1,KIAH,"22000,1,9,N","016000,1,9,9","+0161,1","+0089,1","10144,1",300,1,N,0026,1
2,2018,1,KTEB,"22000,5,9,N","016093,5,N,5","+0011,5","-0039,5","10210,5",260,5,N,0046,5
3,2018,1,KPGD,"00061,5,W,N","001207,5,N,5","+0156,5","+0150,5","99999,9",020,5,N,0015,5
4,2018,1,KCLT,"99999,9,9,N","016000,1,9,9","-0111,1","-0139,1","10273,1",320,1,N,0021,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86836,2023,7,KMDT,"22000,5,9,N","016093,5,N,5","+0289,5","+0194,5","10194,5",150,5,N,0021,5
86837,2023,7,KDIK,"22000,5,9,N","016093,5,N,5","+0161,5","+0106,5","10088,5",999,9,C,0000,5
86838,2023,7,KALB,"00091,5,M,N","006437,5,N,5","+0189,5","+0178,5","10183,5",190,5,N,0026,5
86839,2023,7,KILM,"22000,5,9,N","016093,5,N,5","+0300,5","+0239,5","10205,5",999,9,C,0000,5
86840,2023,7,KFNL,"99999,9,9,9","999999,9,9,9","+9999,9","+9999,9","99999,9",999,9,9,9999,9

In [13]:
df_sw_update['WIND_speed_quality_code'].value_counts()

5    41044
1     9315
9      325
A       11
P       10
7        2
2        1
6        1
Name: WIND_speed_quality_code, dtype: int64

–û–±—Ä–∞–±–æ—Ç–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü CIG

In [14]:
df_sw_update['CIG'] = df_sw_update['CIG'].astype(str)
df_cig = pd.DataFrame([x.split(',') for x in df_sw_update['CIG']], columns=['CIG_ceiling_height_dimension', 
                                                                            'CIG_ceiling_quality_code', 
                                                                            'CIG_ceiling_determination_code', 
                                                                            'CIG_CAVOK_code'])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('CIG', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_cig)
df_sw_update

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,VIS,TMP,DEW,SLP,WIND_direction_angle,WIND_direction_quality_code,WIND_type_code,WIND_speed_rate,WIND_speed_quality_code,CIG_ceiling_height_dimension,CIG_ceiling_quality_code,CIG_ceiling_determination_code,CIG_CAVOK_code
0,2018,1,KDFW,"016000,1,9,9","+0028,1","-0011,1","10253,1",150,1,N,0021,1,22000,1,9,N
1,2018,1,KIAH,"016000,1,9,9","+0161,1","+0089,1","10144,1",300,1,N,0026,1,22000,1,9,N
2,2018,1,KTEB,"016093,5,N,5","+0011,5","-0039,5","10210,5",260,5,N,0046,5,22000,5,9,N
3,2018,1,KPGD,"001207,5,N,5","+0156,5","+0150,5","99999,9",020,5,N,0015,5,00061,5,W,N
4,2018,1,KCLT,"016000,1,9,9","-0111,1","-0139,1","10273,1",320,1,N,0021,1,99999,9,9,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86836,2023,7,KMDT,"016093,5,N,5","+0289,5","+0194,5","10194,5",150,5,N,0021,5,22000,5,9,N
86837,2023,7,KDIK,"016093,5,N,5","+0161,5","+0106,5","10088,5",999,9,C,0000,5,22000,5,9,N
86838,2023,7,KALB,"006437,5,N,5","+0189,5","+0178,5","10183,5",190,5,N,0026,5,00091,5,M,N
86839,2023,7,KILM,"016093,5,N,5","+0300,5","+0239,5","10205,5",999,9,C,0000,5,22000,5,9,N
86840,2023,7,KFNL,"999999,9,9,9","+9999,9","+9999,9","99999,9",999,9,9,9999,9,99999,9,9,9

–û–±—Ä–∞–±–æ—Ç–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü VIS

In [15]:
df_sw_update['VIS'] = df_sw_update['VIS'].astype(str)
df_VIS = pd.DataFrame([x.split(',') for x in df_sw_update['VIS']], columns=['VIS_distance_dimension', 
                                                                            'VIS_distance_quality_code', 
                                                                            'VIS_variability_code', 
                                                                            'VIS_quality_variability_code'])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('VIS', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_VIS)

In [16]:
df_sw_update.sample(5)

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,TMP,DEW,SLP,WIND_direction_angle,WIND_direction_quality_code,WIND_type_code,WIND_speed_rate,WIND_speed_quality_code,CIG_ceiling_height_dimension,CIG_ceiling_quality_code,CIG_ceiling_determination_code,CIG_CAVOK_code,VIS_distance_dimension,VIS_distance_quality_code,VIS_variability_code,VIS_quality_variability_code
44762,2021,5,KPHL,NaN,NaN,NaN,nan,None,None,None,None,nan,None,None,None,nan,None,None,None
66552,2022,6,KFFC,"+0144,5","+0128,5","10223,5",999,9,C,0000,5,22000,5,9,N,016093,5,N,5
163,2018,1,KTUS,"+0094,1","-0128,1","10163,1",999,9,C,0000,1,99999,9,9,N,016000,1,9,9
45914,2021,8,KTEB,NaN,NaN,NaN,nan,None,None,None,None,nan,None,None,None,nan,None,None,None
81299,2023,5,MMCZ,"+0270,1","+0250,1","99999,9",999,9,C,0000,1,02438,1,9,N,012875,1,9,9

In [17]:
df_sw_update['TMP'] = df_sw_update['TMP'].astype(str)
df_TMP = pd.DataFrame([x.split(',') for x in df_sw_update['TMP']], columns=['TMP_air_temperature', 
                                                                            'TMP_air_temperature_quality_code'
                                                                           ])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('TMP', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_TMP)
df_sw_update.sample(5)

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,DEW,SLP,WIND_direction_angle,WIND_direction_quality_code,WIND_type_code,WIND_speed_rate,WIND_speed_quality_code,CIG_ceiling_height_dimension,CIG_ceiling_quality_code,CIG_ceiling_determination_code,CIG_CAVOK_code,VIS_distance_dimension,VIS_distance_quality_code,VIS_variability_code,VIS_quality_variability_code,TMP_air_temperature,TMP_air_temperature_quality_code
71129,2022,5,KSMF,"-0044,5","10122,5",340,5,N,0062,5,22000,5,9,N,016093,5,N,5,+0261,5
9549,2018,9,KABQ,"+0111,5","10127,5",240,5,N,0057,5,05791,5,M,N,016093,5,N,5,+0239,5
59292,2022,5,KOAK,"+0089,5","10183,5",270,5,N,0031,5,22000,5,9,N,016093,5,N,5,+0133,5
2928,2018,6,KDTW,"+0189,5","10051,5",050,5,N,0015,5,00610,5,M,N,006437,5,N,5,+0222,5
33140,2020,9,KMOT,NaN,NaN,nan,None,None,None,None,nan,None,None,None,nan,None,None,None,nan,None

In [18]:
df_sw_update['DEW'] = df_sw_update['DEW'].astype(str)
df_DEW = pd.DataFrame([x.split(',') for x in df_sw_update['DEW']], columns=['DEW_dew_point_temperature', 
                                                                            'DEW_dew_point_quality_code'
                                                                           ])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('DEW', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_DEW)
df_sw_update

,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,SLP,WIND_direction_angle,WIND_direction_quality_code,WIND_type_code,WIND_speed_rate,WIND_speed_quality_code,CIG_ceiling_height_dimension,CIG_ceiling_quality_code,CIG_ceiling_determination_code,CIG_CAVOK_code,VIS_distance_dimension,VIS_distance_quality_code,VIS_variability_code,VIS_quality_variability_code,TMP_air_temperature,TMP_air_temperature_quality_code,DEW_dew_point_temperature,DEW_dew_point_quality_code
0,2018,1,KDFW,"10253,1",150,1,N,0021,1,22000,1,9,N,016000,1,9,9,+0028,1,-0011,1
1,2018,1,KIAH,"10144,1",300,1,N,0026,1,22000,1,9,N,016000,1,9,9,+0161,1,+0089,1
2,2018,1,KTEB,"10210,5",260,5,N,0046,5,22000,5,9,N,016093,5,N,5,+0011,5,-0039,5
3,2018,1,KPGD,"99999,9",020,5,N,0015,5,00061,5,W,N,001207,5,N,5,+0156,5,+0150,5
4,2018,1,KCLT,"10273,1",320,1,N,0021,1,99999,9,9,N,016000,1,9,9,-0111,1,-0139,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86836,2023,7,KMDT,"10194,5",150,5,N,0021,5,22000,5,9,N,016093,5,N,5,+0289,5,+0194,5
86837,2023,7,KDIK,"10088,5",999,9,C,0000,5,22000,5,9,N,016093,5,N,5,+0161,5,+0106,5
86838,2023,7,KALB,"10183,5",190,5,N,0026,5,00091,5,M,N,006437,5,N,5,+0189,5,+0178,5
86839,2023,7,KILM,"10205,5",999,9,C,0000,5,22000,5,9,N,016093,5,N,5,+0300,5,+0239,5
86840,2023,7,KFNL,"99999,9",999,9,9,9999,9,99999,9,9,9,999999,9,9,9,+9999,9,+9999,9

In [19]:
df_sw_update['SLP'] = df_sw_update['SLP'].astype(str)
df_SLP = pd.DataFrame([x.split(',') for x in df_sw_update['SLP']], columns=['SLP_sea_level_pressure', 
                                                                            'SLP_sea_level_pressure_quality_code'
                                                                           ])

# —É–¥–∞–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.drop('SLP', axis = 1)

# –ø—Ä–∏—Å–æ–µ–¥–∏–Ω—è–µ–º –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –≤–µ—Ç—Ä–æ–º
df_sw_update = df_sw_update.join(df_SLP)

In [20]:
df_sw_update.info()

# df_5 = df_sw_update.copy()

# print(df_5['WIND_speed_quality_code'].value_counts())

df_sw_update = df_sw_update.astype(
    { 
        'WIND_direction_angle': 'float',
        'WIND_direction_quality_code': 'float',
        'WIND_speed_rate': 'float',
        # 'WIND_speed_quality_code': 'float', # –ø–ª–æ—Ö–æ
        'CIG_ceiling_height_dimension':'float',
        'CIG_ceiling_quality_code':'float',
        'VIS_distance_dimension':'float',
        # 'VIS_distance_quality_code':'float', # –ø–ª–æ—Ö–æ
        # 'VIS_quality_variability_code':'float', # –ø–ª–æ—Ö–æ
        'TMP_air_temperature':'float',
        'DEW_dew_point_temperature':'float',
        'SLP_sea_level_pressure':'float',
        'SLP_sea_level_pressure_quality_code':'float',
    }
)

df_sw_update.info()

# df_sw_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86841 entries, 0 to 86840
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   INCIDENT_YEAR                        86841 non-null  int64
 1   INCIDENT_MONTH                       86841 non-null  int64
 2   AIRPORT_ID                           86838 non-null  object
 3   WIND_direction_angle                 86841 non-null  object
 4   WIND_direction_quality_code          50709 non-null  object
 5   WIND_type_code                       50709 non-null  object
 6   WIND_speed_rate                      50709 non-null  object
 7   WIND_speed_quality_code              50709 non-null  object
 8   CIG_ceiling_height_dimension         86841 non-null  object
 9   CIG_ceiling_quality_code             50709 non-null  object
 10  CIG_ceiling_determination_code       50709 non-null  object
 11  CIG_CAVOK_code                       50709 non-null  object
 12  VIS_distance_dimension               86841 non-null  object
 13  VIS_distance_quality_code            50709 non-null  object
 14  VIS_variability_code                 50709 non-null  object
 15  VIS_quality_variability_code         50709 non-null  object
 16  TMP_air_temperature                  86841 non-null  object
 17  TMP_air_temperature_quality_code     50709 non-null  object
 18  DEW_dew_point_temperature            86841 non-null  object
 19  DEW_dew_point_quality_code           50709 non-null  object
 20  SLP_sea_level_pressure               86841 non-null  object
 21  SLP_sea_level_pressure_quality_code  50709 non-null  object
dtypes: int64(2), object(20)
memory usage: 14.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86841 entries, 0 to 86840
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   INCIDENT_YEAR                        86841 non-null  int64
 1   INCIDENT_MONTH                       86841 non-null  int64
 2   AIRPORT_ID                           86838 non-null  object
 3   WIND_direction_angle                 50709 non-null  float64
 4   WIND_direction_quality_code          50709 non-null  float64
 5   WIND_type_code                       50709 non-null  object
 6   WIND_speed_rate                      50709 non-null  float64
 7   WIND_speed_quality_code              50709 non-null  object
 8   CIG_ceiling_height_dimension         50709 non-null  float64
 9   CIG_ceiling_quality_code             50709 non-null  float64
 10  CIG_ceiling_determination_code       50709 non-null  object
 11  CIG_CAVOK_code                       50709 non-null  object
 12  VIS_distance_dimension               50709 non-null  float64
 13  VIS_distance_quality_code            50709 non-null  object
 14  VIS_variability_code                 50709 non-null  object
 15  VIS_quality_variability_code         50709 non-null  object
 16  TMP_air_temperature                  50709 non-null  float64
 17  TMP_air_temperature_quality_code     50709 non-null  object
 18  DEW_dew_point_temperature            50709 non-null  float64
 19  DEW_dew_point_quality_code           50709 non-null  object
 20  SLP_sea_level_pressure               50709 non-null  float64
 21  SLP_sea_level_pressure_quality_code  50709 non-null  float64
dtypes: float64(10), int64(2), object(10)
memory usage: 14.6+ MB

–°–≥—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –∞—Ö—É–µ–Ω–Ω–Ω–æ –ø–æ–Ω—è—Ç–Ω—ã–º —Å—Ç–æ–ª–±—Ü–∞–º

In [21]:
df_sw_update['prosto'] = 1

In [22]:
df_sw_update = df_sw_update.groupby(['INCIDENT_YEAR','INCIDENT_MONTH','AIRPORT_ID'])['prosto'].count().reset_index().rename(columns={'prosto':'COUNT_STRICES'})

In [23]:
df_sw_update

       INCIDENT_YEAR  INCIDENT_MONTH AIRPORT_ID  COUNT_STRICES
0               2018               1        6N5              1
1               2018               1        F44              1
2               2018               1       KAAO              1
3               2018               1       KABE              1
4               2018               1       KABQ              7
...              ...             ...        ...            ...
18539           2023               8       KSDF             11
18540           2023               8       KSLC              1
18541           2023               8       KUNV              1
18542           2023               8       KVRB              1
18543           2023               8       ZZZZ              2

[18544 rows x 4 columns]

In [24]:
df_sw_update.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18544 entries, 0 to 18543
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INCIDENT_YEAR   18544 non-null  int64
 1   INCIDENT_MONTH  18544 non-null  int64
 2   AIRPORT_ID      18544 non-null  object
 3   COUNT_STRICES   18544 non-null  int64
dtypes: int64(3), object(1)
memory usage: 579.6+ KB

In [25]:
df_f.info()

df_f['Month'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11461 entries, 0 to 11460
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           11461 non-null  int64
 1   Month          11461 non-null  object
 2   DOMESTIC       11447 non-null  float64
 3   INTERNATIONAL  10202 non-null  float64
 4   TOTAL          11461 non-null  int64
 5   airport        11461 non-null  object
 6   direction      11461 non-null  object
dtypes: float64(2), int64(2), object(3)
memory usage: 626.9+ KB

TOTAL    951
11       894
12       891
10       889
2        889
3        889
1        888
4        888
5        888
7        850
9        849
8        848
6        847
Name: Month, dtype: int64

–°–∫–ª–µ–∏–º –≤–∞—à–∏ –µ–±–∞–Ω—ã–µ –¥–∞—Ç–∞—Å–µ—Ç—ã –∫–∞–∫ –≤—ã —Ö–æ—Ç–µ–ª–∏ —Ç—É–ø–æ—Ä—ã–ª—ã–µ –º—Ä–∞–∑–∏

In [26]:
# df_f['Month'] = df_f['Month'].astype('int64')

In [27]:
df_f = df_f[df_f['Month'] != 'TOTAL']

df_f['Month'].value_counts()

11    894
12    891
10    889
2     889
3     889
1     888
4     888
5     888
7     850
9     849
8     848
6     847
Name: Month, dtype: int64

In [28]:
df_final = df_f.merge(df_sw_update,
                      left_on=['Year','airport'],
                      right_on=['INCIDENT_YEAR','AIRPORT_ID'], how='left')

In [29]:
df_f['airport'].value_counts()

DEN    496
DFW    496
DAL    496
IAH    496
RSW    496
FLL    496
MCI    496
AUS    496
TPA    496
LAX    496
CLT    496
SLC    496
SDF    496
CVG    496
MCO    496
JFK    496
DTW    496
MEM    496
ATL    496
ORD    496
SEA    496
TEB     94
Name: airport, dtype: int64

In [30]:
df_sw_update['AIRPORT_ID'].value_counts()

KORD    68
KPHL    68
KJFK    68
KDFW    68
KAUS    68
        ..
KOFK     1
N14      1
KLBX     1
KFOT     1
KMBL     1
Name: AIRPORT_ID, Length: 1535, dtype: int64

In [31]:
df_final.sample(10)

,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL,airport,direction,INCIDENT_YEAR,INCIDENT_MONTH,AIRPORT_ID,COUNT_STRICES
2410,2017,8,2186.0,31.0,2217,MEM,Destination,NaN,NaN,NaN,NaN
1989,2003,3,9209.0,156.0,9365,MEM,Origin,NaN,NaN,NaN,NaN
6342,2014,8,21429.0,4570.0,25999,LAX,Destination,NaN,NaN,NaN,NaN
749,2003,3,28688.0,1571.0,30259,DFW,Destination,NaN,NaN,NaN,NaN
4384,2016,10,4091.0,166.0,4257,CVG,Destination,NaN,NaN,NaN,NaN
7217,2004,11,3769.0,12.0,3781,AUS,Destination,NaN,NaN,NaN,NaN
2648,2016,10,15028.0,1002.0,16030,DTW,Origin,NaN,NaN,NaN,NaN
8316,2013,10,5829.0,1212.0,7041,FLL,Destination,NaN,NaN,NaN,NaN
1308,2008,6,32258.0,3903.0,36161,ORD,Destination,NaN,NaN,NaN,NaN
4272,2007,6,12454.0,396.0,12850,CVG,Destination,NaN,NaN,NaN,NaN

–£–¥–∞–ª–∏–º –±—É–∫–≤—É K

In [32]:
df_sw_update['AIRPORT_ID'] = df_sw_update['AIRPORT_ID'].apply(lambda x: x.lstrip('K') if x.startswith('K') else x)

In [33]:
df_f['Month'].value_counts()

11    894
12    891
10    889
2     889
3     889
1     888
4     888
5     888
7     850
9     849
8     848
6     847
Name: Month, dtype: int64

In [34]:
df_f['Month'] = df_f['Month'].astype('float')

In [35]:
df_f['airport'].value_counts()

DEN    496
DFW    496
DAL    496
IAH    496
RSW    496
FLL    496
MCI    496
AUS    496
TPA    496
LAX    496
CLT    496
SLC    496
SDF    496
CVG    496
MCO    496
JFK    496
DTW    496
MEM    496
ATL    496
ORD    496
SEA    496
TEB     94
Name: airport, dtype: int64

In [36]:
df_sw_update['AIRPORT_ID'].value_counts().head(50)

ORD     68
PHL     68
JFK     68
DFW     68
AUS     68
SDF     68
ZZZZ    68
IAH     67
FLL     67
LGA     67
MCO     67
DEN     67
CVG     67
OAK     67
CLT     67
PDX     67
LAX     67
ATL     67
SLC     67
SFO     67
RSW     67
SEA     66
SMF     66
BWI     66
SJC     66
MEM     66
DAL     66
IAD     66
CLE     66
TPA     66
BOS     65
SRQ     65
RIC     65
SFB     65
DTW     65
LIT     64
JAX     64
CHS     64
EWR     64
MCI     64
LGB     64
TEB     64
MSY     64
DCA     64
BNA     64
PHNL    63
CMH     63
HOU     63
MIA     63
IND     63
Name: AIRPORT_ID, dtype: int64

–°–æ–∑–¥–∞–¥–∏–º –±–ª—è—Ç—å –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–∏–º –≤–∞—à–∏—Ö –µ–±–∞–Ω—ã—Ö —Å—Ç—Ä–∞–π–∫–æ–≤ –∑–∞—Å—É–Ω—å—Ç–µ –∏—Ö —Å–µ–±–µ –≤ –µ–±–∞–Ω—É—é –∂–æ–ø—É –ø–∏–∑–¥–∞–µ–±—ã —Å—Ä–∞–Ω—ã–µ

–û—Å—Ç–∞–≤–∏–º —Ç–æ–ª—å–∫–æ –¥–∞–Ω–Ω—ã–µ —Å 2018 –ø–æ 2022 –≥–æ–¥

In [37]:
df_f = df_f[(df_f['Year'] >= 2018) & (df_f['Year'] <= 2022)]

In [38]:
df_final = df_f.merge(df_sw_update,
                      left_on=['Year','Month','airport'],
                      right_on=['INCIDENT_YEAR','INCIDENT_MONTH','AIRPORT_ID'], how='left').drop(['INCIDENT_YEAR','INCIDENT_MONTH','AIRPORT_ID','DOMESTIC','direction','INTERNATIONAL'],axis=1)
df_final

      Year  Month  TOTAL airport  COUNT_STRICES
0     2018    1.0  21989     DEN            7.0
1     2018    2.0  19735     DEN            5.0
2     2018    3.0  23114     DEN           18.0
3     2018    4.0  22746     DEN           29.0
4     2018    5.0  23807     DEN           55.0
...    ...    ...    ...     ...            ...
2523  2022    8.0  17990     SEA           15.0
2524  2022    9.0  17373     SEA           13.0
2525  2022   10.0  16577     SEA           17.0
2526  2022   11.0  15151     SEA           13.0
2527  2022   12.0  14251     SEA            6.0

[2528 rows x 5 columns]

In [39]:
df_final.sort_values(by='COUNT_STRICES', ascending=False)

      Year  Month  TOTAL airport  COUNT_STRICES
114   2022    7.0  26214     DEN          192.0
54    2022    7.0  26218     DEN          192.0
42    2021    7.0  27146     DEN          167.0
102   2021    7.0  27123     DEN          167.0
41    2021    6.0  25200     DEN          142.0
...    ...    ...    ...     ...            ...
2258  2021    3.0  13426     IAH            NaN
2305  2020    2.0   5803     DAL            NaN
2365  2020    2.0   5799     DAL            NaN
2442  2020   11.0  11845     SEA            NaN
2502  2020   11.0  11825     SEA            NaN

[2528 rows x 5 columns]

In [40]:
df_final[df_final['airport'] == 'DEN']

     Year  Month  TOTAL airport  COUNT_STRICES
0    2018    1.0  21989     DEN            7.0
1    2018    2.0  19735     DEN            5.0
2    2018    3.0  23114     DEN           18.0
3    2018    4.0  22746     DEN           29.0
4    2018    5.0  23807     DEN           55.0
..    ...    ...    ...     ...            ...
115  2022    8.0  26196     DEN           80.0
116  2022    9.0  25600     DEN          118.0
117  2022   10.0  25964     DEN           66.0
118  2022   11.0  24310     DEN           20.0
119  2022   12.0  23529     DEN           25.0

[120 rows x 5 columns]